
<main class="main">
    <section class="section">
        <h3>Hobbit Quotes</h3>
        <div class="card" *ngFor="let hobbitQuote of hobbitQuotes">
            <div class="container">{{hobbitQuote}}</div>
        </div>
        <div *ngIf="!hobbitQuotes.length">
            <div class="loader"></div>
        </div>
    </section>
    <section class="section">
        <h3>Friends Quotes</h3>
        <div class="card" *ngFor="let friendsQuote of friendsQuotes">
            <div class="container">{{friendsQuote}}</div>
        </div>
        <div *ngIf="!friendsQuotes.length">
            <div class="loader"></div>
        </div>
    </section>
</main>
