<ul class="topnav">
    <li [ngClass]="{'active': this.viewHobbits}" (click)="this.viewHobbits = !this.viewHobbits">Hobbits</li>
    <li [ngClass]="{'active': !this.viewHobbits}" (click)="this.viewHobbits = !this.viewHobbits">Friends</li>
    <li (click)="switchButton()">
        <i class="{{isButtonActivated ? 'fas fa-toggle-on' : 'fas fa-toggle-off'}} "></i>
        {{ isButtonActivated ? 'Conectado' : 'Desconectado'}}
    </li>
</ul>
<div class="main">
    <app-hobbit-list *ngIf="this.viewHobbits"></app-hobbit-list>
    <app-friends-list *ngIf="!this.viewHobbits"></app-friends-list>
</div>